@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    min-height: 100vh;
}

header{
    padding-top: 42px;
    background-color: black;
    color: white;
    text-align: center;
}

header>h1{
    font-family: var(--fonte2);
    font-weight: normal; 
    font-size: 11vw;
    font-variant: small-caps;
}

header>p{
    font-family: var(--fonte1);
    padding-bottom: 42px;
}

a{
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

article > section{
    font-family: var(--fonte3);
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.img{
    background-size: cover;
    margin-top: 13vh;
    margin-bottom: 13vh;
    box-shadow: inset 5px 5px 15px rgba(0, 0, 0, 0.575);
}

section#img1{
    background: black url(imagens/background001.jpg) center center fixed;
}

section#img2{
    background: black url(imagens/background002.jpg) center center fixed;
}

section#img1>p, section#img2>p{
    background-color: rgba(0, 0, 0, 0.527);
    color: white;
    display: inline-block;
    padding: 10px;
}

footer{
    background-color: black;
    color: white;
    font-family: var(--fonte1);
    text-align: center;
    padding: 10px;
}